body {
  width: 450px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 1.2rem;
  font-family: "Open Sans", sans-serif;
  line-height: 1.65em;
  color: #393d41;
}

header {
  background-color: black;
}

#logo {
  width: 150px;
  padding: 2em;
}

#page-title {
  background-image: url(../images/banner.jpg);
  background-size: cover;
  background-size: 650px;
  background-position: 43% 7%;
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 2em;
  font-weight: 700;
  color: #25a2c3;
  padding: 1.5em 2em 0.5em 2em;
  line-height: 35px;
}

#page-title p {
  padding: 0.5em 2em 2em 2em;
  line-height: 30px;
  font-weight: 400;
}

#page-title button {
  background-color: #f04c2f;
  border: none;
  color: white;
  padding: 1em 2.3em;
  border-radius: 4px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 2.5em;
  cursor: pointer;
}

#advantages {
  padding: 2em;
  margin-top: 2.5em;
}

h3 {
  color: #299fca;
  font-size: 1.1em;
  font-weight: 700;
  margin-bottom: 1em;
}

#advantages p {
  margin-bottom: 1em;
  padding: 0 1em;
}

#advantages img {
  clip-path: circle();
  margin-bottom: 2em;
  width: 300px;
}

#review {
  background-color: #e22d0e;
  color: white;
  margin-bottom: 3em;
}

h2 {
  font-size: 2em;
  font-weight: 700;
  padding: 2em 0 1.5em 0;
  font-family: "Montserrat", sans-serif;
}

#review p {
  padding: 0 2em 1.5em 2em;
  font-size: 0.8em;
}

#review span {
  font-size: 1em;
  font-style: italic;
}

h4 {
  font-size: 1.2em;
}

.box {
  border: 1px solid #dee1e3;
  width: 90%;
  margin: 2em auto;
}

.box h2 {
  font-size: 1.1em;
  padding-bottom: 0;
}

.box p {
  padding: 0 1.5em 2em 1.5em;
}

.box img {
  object-fit: cover;
  width: 100%;
  height: 250px;
  margin-bottom: 1em;
}

footer {
  background-color: #25a2c3;
  color: white;
  padding-bottom: 3em;
  font-weight: 300;
  margin-top: 4em;
}

footer h2 {
  padding-bottom: 1em;
  padding-top: 1.2em;
}

footer p {
  color: #c0e4ea;
}

footer .fas {
  color: white;
}

footer a {
  color: #c8e7f0;
}

footer hr {
  width: 45%;
  margin: 1.5em auto 1.5em auto;
  color: #aedaf3;
}

#smaller {
  font-size: 0.8em;
}
